/* General resets */

:root {
  --primary-color: #193094;
  --primary-dark:  #0d1e6d;
  --secondary-color: #ffffff;
  --primary-light: #0564B6;
  --branco-gelo: #f2f2f2ed;
  font-size: 100%; /* não seta uma font-size específica, o documento herda a font-size do browser */
}

html {
  scroll-behavior: smooth;
  background-color: var(--branco-gelo);
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Goldman", cursive;
  font-size: 1rem; /* assumindo o default do browser de 16px */
}

ul {
  list-style-type: none;
}


img {
  max-width: 100%;
}

#sobre,
#contatos,
#servicos {
  margin-bottom: 2em;
  padding-top: 3.5em;
}

#sobre {
  margin-bottom: 4em;
}

/* Tipografia */

h2 {
  font-size: 2.5rem;
  color: var(--primary-color);
  text-align: center;
  padding: 1em 0;
}

h3 {
  color: var(--primary-color);
  padding-bottom: .5em;
}

h4 {
  padding-top: .5em;
}

/* navbar */

header {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.34);
  z-index: 100; /* z-index controla a ordem de empilhamento, so funciona com elementos setados com qualquer position, exceto static */
  
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding-left: 1em; /* pra não ficar colado nas laterais na versão mobile */
  padding-right: 1rem;
  overflow: auto; /* previne a margin collapsing do container-flex, já que no .container não tem nenhum preenchimento (padding) prevenindo que as margins-top (do .container e .container-flex) sofram colapso. */
}


.container-flex {
  display: flex;
  margin-top: 1em;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  
}


.menu-nav ul {
  display: flex;
 

}

.menu-logo {
    max-width: 140px;
}

.menu-nav a {
    padding: .625em;
    margin: 0 .3125em;
    color: var(--primary-color);
}


.menu-nav li {
    border-right: 1.5px solid var(--primary-light);
}


.menu-nav li:last-of-type {
    border-right: unset; /* tirando a borda direita do último item da lista de navegação */
}


/* Banner */

.container-banner {
  background-image: url("../img/img-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px; /* vai se afastar do menu fixo e mostrar a imagem inteira */
  position: relative; /* pra poder posicionar alguma coisa absolutamente a ele */
  
}

.container-banner::after { /* adicionou o slant ao banner */
  content: "";
  background-color: var(--branco-gelo);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -70px;
  height: 100px;
  transform: skewY(-3deg);
}


.container-banner h1 {
  color: var(--secondary-color);
  font-size: 3rem;
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), -9px 2px 2px rgba(206,89,55,0);
  font-weight: 300;
}

/* Sobre */
#sobre{
  background-color: var(--branco-gelo);
  color: var(--primary-color);
  min-width: 350px;
  overflow: auto;

}


.img-sobre{
  min-width: 350px;
  max-width: 600px;
  float: right;
  width: 50vw;
  height: auto;
  margin: 1vh 3vw;
}

.div-sobre{
  margin: 1vh 3vw;
  text-align: justify;
  
}

h3 + p {
  text-indent: 40px;
}

.missao,
.visão {
  max-width: 80%;
}

.missao-titulo,
.visao-titulo {
  padding-top: 1em;
}

/* Links */

a {
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  transition: 0.3s ease-out;
}

a:hover {
    color: var(--primary-light);
}


/* Botões */

button {
    padding: .75em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease-out;
}


button:hover {
    background-color: var(--primary-light);
}


/*section de serviços*/
.servicos {
  padding: 2em;
  background-color: var(--secondary-color);
  text-align: justify;
}

.servicos p {
  color: var(--primary-color);
  padding-top: 1em;
}

.div-servicos {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-gap: 1em;
}

.servico {
  padding: 2em;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.23);
  border-radius: 3px;
  background-color: var(--secondary-color);
  margin: 1em;
}


.imagem-servicos{
  max-width: 625px;
  width: 100%;
  height: auto;
}

.titulo-servico-individual{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 4%;
}


/* section de contato, sendo o mapa e o form*/

.div-contatos > *{
  width: 50%;

}

.div-contatos{
  display: flex;
  
}

form input, select, textarea{
  display: block;  
  width: 100%;
  resize: none;
}

form input, select{
  
  margin-bottom: 5%;
}

.formulario-box{
  border: solid;
  border-color: var(--primary-color);
}
form {
  height: 100%;
  padding-left: 5%;
  font-size: larger;  

}

form button{
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  
}
.mapa{
  padding-left: 1%;
}

#endereco-mapa{
  font-size: 14px;
  margin-bottom: 5%;
}


/* Footer */

.rodape{
  background-color: var(--secondary-color);
  box-shadow: 0px -2px 6px 1px rgba(0,0,0,0.34);
}

.content-footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

.content-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.footer-logo{
  max-width: 250px;
  min-width: 140px;
  margin-right: 1em;
  
}

.copyright {
  text-align: center;
  padding: .5em;
  background-color: var(--branco-gelo);
}

.social a {
  margin: .5em;
}